CompileFlags:
  CompilationDatabase: build
  Compiler: clang++
  Add:
    - -xc++
    - -Wall
    - -I/opt/upcxx/include
    - -I/opt/upcxx/gasnet.opt/include
    - -I/opt/upcxx/gasnet.opt/include/udp-conduit
    - -I/opt/upcxx/upcxx.opt.gasnet_seq.udp/gen_include
